/* Trancicion de .5s para el cambio de color de fondo */
body{
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s;
} 

/* Cambiar colores de todos los elementos tipo texto */
.bk-dark p,
.bk-dark h1,
.bk-dark h2,
.bk-dark h3{
    color: white !important;
}
/* Fondo Oscuro y trancicion de .5s para el cambio de color de fondo */
.bk-dark{
    background-color: #191919 !important;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) .5s;
} 
/* Sombra al contenedor de .activate-dark-mode */
.bk-dark > .activate-dark-mode{
    box-shadow: 0px 0px 20px #cecece5d;
}
/* Ocultar icono */
.disable{
    display: none;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) .5s;
}
/* Estilos caja btn modo oscuro */
.activate-dark-mode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 30px;
    box-shadow: 0px 0px 20px #1a1a1a98;
}
/* Estilos al icono de la caja*/
.activate-dark-mode > a i{
    color: white ;
}
